* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: black;
}

div#caixa {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100vw;
    height: 100vh;
    
}

div#caixa p {
    margin: 10px;
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    text-shadow: 0 0 10px #f5f5f5db;
}

.trueADM {
    color: rgb(0, 255, 17);
    text-shadow: 0 0 10px #00ff15db;
    font-size: 1.1em;
    font-weight: bold;
}

.falseADM {
    color: red;
    text-shadow: 0 0 10px #ff0000db;
    font-size: 1.1em;
    font-weight: bold;
}