* {
    padding: 0px;
    margin: 0px;
    border: none;
    box-sizing: border-box;
    font-size: large;
}

.carros {
    display: flex;
    width: 100%;
    border: 3px solid black;
    padding: 5px;
    border-radius: 5px;
}

.carro {
    display: flex;
    flex-direction: column;
    width: 200px;
    padding: 5px;
    background-color: #8cf;
    border: 3px #008 solid;
    border-radius: 5px;
    margin: 2px;
}

.campoForm {
    display: flex;
    flex-direction: column;
    width: 308px;
}

.campoForm input {
    background-color: #eee;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid black;
}

.campoForm button {
    background-color: #888;
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
}

#btnRemove {
    background-color: rgb(32, 90, 134);
    color: rgb(0, 0, 0);
    border-radius: 20px;
    width: 100px;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    cursor: pointer;
}

#btnRemove:hover {
    background-color: rgb(48, 132, 196);
    color: rgb(255, 255, 255);
    box-shadow: 0 0 10px rgb(58, 169, 255);
}